<h1>Adauga un produs in baza de date</h1><hr>

<div class="container_cos">
    <form action="/adauga_produs" method="post">
        <label>Nume</label><br>
        <input type="text" id="nume" name="nume" placeholder="nume"><br>
        <label>Pret</label><br>
        <input type="number" id="text" name="pret" step="0.01" placeholder="pret" max="2999"><br>
        <label>Stoc</label><br>
        <input type="number" id="stoc" name="stoc" placeholder="stoc" max="100"><br>
        <input type="submit" value="Submit" style="margin-top: 5px;">
    </form>
</div>