<h1>Autentificare</h1><hr>
<div class="container_cos">
    <% if(error != '') {%>
        <p><%=error%></p>
    <% } %>
    <form action="/verificare-autentificare" method="post">
        <label>Utilizator</label><br>
        <input type="text" placeholder="nume" name="user" autofocus><br>
        <label>Parola</label><br>
        <input type="password" placeholder="parola" name="pass"><br>
        <input type="submit" value="Logare">
    </form>
</div>