<!DOCTYPE html>
<html lang="RO-ro">
    <head>
        <meta charset="UTF-8">
        <title>Briconaj</title>
    </head>

    <body>
        <main>
            <%- body %>
        </main>
        <br>
        <footer>
            &copy;Parasca Raul 2025
        </footer>
    </body>
</html>