body {
    background-color: lightblue;
    text-align: center;
    margin: 0;
    padding: 0;
}
ul {
    list-style-type: none;
}
header {
    background-color: rgb(114, 149, 161); 
    position: fixed;
    width: 100%;
    top: 0%;
}
nav {
    font-size: 50px;
    font-weight: bold;
}
nav a {
    margin-left: 20px;
    margin-right: 20px;
    text-decoration: none;
    color: black;
}
nav a:hover{
    color: rgb(118, 118, 118);
}
.conectat:hover{
    color: black;
}
.conectat button {
    margin-bottom: 5px;
    font-size: 30px;
    margin:auto;
}

.index_btn {
    border: 1px solid rgb(85, 85, 186);
    color: black;
    padding: 5px;
    margin: 5px;
    transition-duration: 0.4s;
}
.index_btn:hover {
    background-color: rgb(85, 85, 186);
}

.div_magazin{
    margin: 5px;
    transition-duration: 0.4s;
}
.div_magazin:hover{
    background-color: rgb(85, 85, 186);
}

footer {
    background-color: black;
    position: fixed;
    bottom: 0;
    width: 100%;
    color: white;
    margin: 0px;
    padding: 20px;
}
main{
    margin-top: 100px;
    margin-bottom: 100px;
}